GCP_PROJECT_ID=fantasy-507821
SEASON=2026

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fantasy-507821.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fantasy-507821
NEXT_PUBLIC_FIREBASE_APP_ID=

JOBS_SHARED_SECRET=change-me
ADMIN_EMAIL=peniasuki@gmail.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
