node_modules
.next
out
dist
.turbo
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
service-account.json
*.pem
.firebase
firestore-debug.log
ui-debug.log
gcp-key.json
tsconfig.tsbuildinfo
*.tsbuildinfo
